#!/bin/sh -e

# Starts, stops, and restarts solr

# To make sure this runs at startup, do:
# update-rc.d apache-solr.4.sh defaults

JETTY_PORT=8983

SOLR_ROOT='/path/to/solr/'
SOLR_HOME='${SOLR_ROOT}solr'

SOLR_MEMORY=2048m

# SOLR_LOGS=$SOLR_ROOT'logs/solr.log'
SOLR_LOGS=/dev/null

JAVA_START_OPTIONS="-Xmx$SOLR_MEMORY -Djetty.port=$JETTY_PORT -Dsolr.solr.home=$SOLR_HOME -jar -DSTOP.PORT=8097 -DSTOP.KEY=stopkey start.jar"
JAVA_STOP_OPTIONS="-Xmx256m -Djetty.port=$JETTY_PORT -Dsolr.solr.home=$SOLR_HOME -jar -DSTOP.PORT=8097 -DSTOP.KEY=stopkey start.jar"

JAVA="/usr/bin/java"

case $1 in
    start)
        echo "Starting Solr"
	echo ${JAVA_START_OPTIONS}

	cd $SOLR_ROOT
        $JAVA $JAVA_START_OPTIONS 2> $SOLR_LOGS &
        ;;
    stop)
        echo "Stopping Solr"
	echo ${JAVA_STOP_OPTIONS}

	cd $SOLR_ROOT
        $JAVA $JAVA_STOP_OPTIONS --stop
        ;;
    restart)
        $0 stop
        sleep 1
        $0 start
        ;;
    debug)
        echo "Starting Solr"
	echo ${JAVA_START_OPTIONS}

	cd $SOLR_ROOT
        $JAVA $JAVA_START_OPTIONS
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|debug}" >&2
        exit 1
        ;;
esac
